body {
	overflow-y: scroll;
	height: 100%;
}

.dataTables_filter {
	float: left;
}

.dataTables_filter input {
	min-width: 300px;
}

#dt-search-0 {
	min-width: 300px;
}

.dt-length {
	margin-right: 400px;
	align-self: center;
} 